Randomizer_Plugin/obj
Randomizer_Plugin/bin
Randomizer_Plugin/.vs
/.vs
global.json
revised-rabi-ribi-randomizer-master
Tevi_Maps
Randomizer_Plugin/Generator/__pycache__/itemDB.cpython-310.pyc
Randomizer_Plugin/Generator/Notes.txt
Randomizer_Plugin/resource/randomizerui.manifest
Randomizer_Plugin/resource/resource
Randomizer_Plugin/resource/resource.manifest
Randomizer_Plugin/Tools/Resources/Notes.txt
Randomizer_Plugin/Tools/Resources/NewArea.txt
Randomizer_Plugin/Tools/Resources/NewConnection.txt
Randomizer_Plugin/Tools/Resources/tricks.txt
*.dll
*.pdb
todo.txt
Randomizer_Plugin/resource/randomizerui
