Randomizer_Plugin/obj/*
Randomizer_Plugin/bin/*
Randomizer_Plugin/.vs/*
Randomizer_Plugin/Assembly-CSharp.dll
Randomizer_Plugin/mscorlib.dll
global.json
/Randomizer_Plugin/Unity.TextMeshPro.dll
/Randomizer_Plugin/UnityEngine.UI.dll
revised-rabi-ribi-randomizer-master
Tevi_Maps
Randomizer_Plugin/Generator/__pycache__/itemDB.cpython-310.pyc
Randomizer_Plugin/Generator/Notes.txt
